header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 20vh;

    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 19%;
        height: 100%;

        img {
            width: 255px;
            height: 57px;
        }
    }

    .name {
        display: flex;
        align-items: end;
        justify-content: baseline;
        width: 25%;
        height: 50px;
        padding-left: 4%;

        h2 {
            color: white;
            font-size: 35px;
            font-weight: 600;
        }
    }

    .bar {
        width: 30%;
        height: 50px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        color: black;
        padding-left: 20px;

        img {
            width: 30px;
            height: 30px;
        }

        h4 {
            padding-left: 5%;
            font-size: 22px;
            font-weight: 400;
        }
    }

    .notif {
        width: 12%;
        display: flex;
        justify-content: center;

        img {
            height: 35px;
            width: 30px;
        }
    }

    .compte {
        width: 15%;
        padding-right: 5%;
        display: flex;
        justify-content: end;

        img {
            height: 40px;
            width: 40px;
        }
    }
}